<%= form_for(weather_station_alert) do |f| %>
  <% if weather_station_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(weather_station_alert.errors.count, "error") %> prohibited this weather_station_alert from being saved:</h2>

      <ul>
      <% weather_station_alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :alert_for %>
    <%= f.datetime_select :alert_for %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.number_field :level %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
