<div class="center jumbotron">
    <h1>Weather Stations</h1>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat/Long</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @weather_stations.each do |weather_station| %>
      <tr>
        <td><%= weather_station.name %></td>
        <td><%= weather_station.latitude %>,<%= weather_station.longitude %></td>
        <td><%= link_to 'Show', weather_station %></td>
        <td><%= link_to 'Edit', edit_weather_station_path(weather_station) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather Station', new_weather_station_path %>
