<p id="notice"><%= notice %></p>
<span id="alert"><%= alert %></span>
<h1>Station Report: <%= @weather_station.name %></h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= link_to 'Back to stations list', weather_stations_path %>

<p>
  <strong>Lat/Long:</strong>
  <%= @weather_station.latitude %>,<%= @weather_station.longitude %>
</p>

<%= link_to 'Edit', edit_weather_station_path(@weather_station) %> |

<h2>Landslide Forecasts for this station</h2>
<p>
  All precipitation numbers are in inches of liquid water.
</p>
<div class="weather-reports">
  <table>
    <tr>
      <th>Date</th>
      <th>Alert Level</th>
      <th>Recent Precip (P3)</th>
      <th>Older Precip (P15)</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>Today</td>
      <td class="alert-<%= (@alert_today.level >= 0) ? 'on' : 'off' %>"><%= @alert_today.level.round(2) %></td>
      <td><%= @alert_today.recent_sum.round(2) %></td>
      <td><%= @alert_today.old_sum.round(2) %></td>
      <td><%= @alert_today.level_description %></td>
    </tr>
    <% @alert_forecasts.each_pair do |date, alert| %>
    <tr>
      <td><%= date %></td>
      <td class="alert-<%= (alert.level >= 0) ? 'on' : 'off' %>"><%= alert.level.round(2) %></td>
      <td><%= alert.recent_sum.round(2) %></td>
      <td><%= alert.old_sum.round(2) %></td>
      <td><%= alert.level_description %></td>
    </tr>
    <% end %>
  </table>
</div>

<h2>Weather Reports from this station</h2>
<div class="weather-reports">
  <table>
    <tr>
      <th>Date</th>
      <th>Precip (inches)</th>
    </tr>
    <% @weather_reports.each do |r| %>
    <tr>
      <td><%= r.date %></td>
      <td><%= r.precip_inches %></td>
    </tr>
    <% end %>
  </table>
</div>

<h2>Weather Reports from days Today - 4 through Today - 15</h2>
<div class="weather-reports">
  <table>
    <tr>
      <th>Date</th>
      <th>Precip (inches)</th>
    </tr>

    <% @old_days.each do |d| %>
        <tr>
          <td><%= d %></td>
          <td><%= (@old_reports.has_key?(d)) ? @old_reports[d].precip_inches : '' %></td>
        </tr>
    <% end %>
    <tr>
      <th>Sum</th>
      <th><%= @old_sum %></th>
    </tr>
  </table>
</div>

<h2>Weather Reports from Yesterday through Today - 3</h2>
<div class="weather-reports">
  <table>
    <tr>
      <th>Date</th>
      <th>Precip (inches)</th>
    </tr>

    <% @recent_days.each do |d| %>
        <tr>
          <td><%= d %></td>
          <td><%= (@recent_reports.has_key?(d)) ? @recent_reports[d].precip_inches : '' %></td>
        </tr>
    <% end %>
    <tr>
      <th>Sum</th>
      <th><%= @recent_sum %></th>
    </tr>
  </table>
</div>
