<!DOCTYPE html>
<html>
  <head>
    <title>LandslideForecast</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
    </header>
    <%= yield %>
    <footer>
      <h4>Credits</h4>
      <ul>
        <li>Weather Data: <%= link_to 'Powered by Darksky', 'https://darksky.net/poweredby/' %></li>
        <li><%= link_to 'Landslide risk algorithms courtesy of Rex Baum of the USGS'%></li>
      </ul>
      
    </footer>
  </body>
</html>
